<p-dataView [value]="products"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="['10', '25', '50']"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            #dv
            filterBy="name"
            class="product-list-container">

  <ng-template pTemplate="header">
    <p-dropdown [options]="sortOptions"
                [(ngModel)]="sortKey"
                placeholder="Sort By"
                (onChange)="onSortChange($event)"
                [style]="{'min-width':'15em'}"></p-dropdown>
    <input type="search"
           pInputText
           placeholder="Search"
           (input)="dv.filter($any($event.target).value, 'contains')">
    <p-dataViewLayoutOptions class="header-list-layout"></p-dataViewLayoutOptions>
  </ng-template>

  <ng-template let-product pTemplate="gridItem">
    <div class="p-col-4 p-lg-4 p-md-6 p-sm-12">
      <app-product [product]="product" [layoutType]="'grid'"></app-product>
    </div>
  </ng-template>

  <ng-template let-product pTemplate="listItem">
    <div class="p-col-12">
      <app-product [product]="product" [layoutType]="'list'"></app-product>
    </div>
  </ng-template>

  <ng-template pTemplate="paginatorleft" let-state>
    Showing {{state.first + +1}} to {{((state.first + +state.rows) > state.totalRecords ? state.totalRecords : state.first + +state.rows)}} of {{state.totalRecords}}
  </ng-template>

  <ng-template pTemplate="paginatorright">
    <ng-template let-item pTemplate="paginatordropdownitem" class="test">
      {{item.value}} per page
    </ng-template>
  </ng-template>

</p-dataView>
